<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qs.game.dao.dao.IDeptDao">

	<select id="findById" resultType="com.qs.game.entity.Dept" parameterType="long">
		select id,name,db_source from dept where id=#{id};
	</select>

	<select id="findAll" resultType="com.qs.game.entity.Dept">
		select id,name,db_source from dept;
	</select>

	<insert id="addDept" parameterType="com.qs.game.entity.Dept">
		INSERT INTO dept(name,db_source) VALUES(#{name},DATABASE());
	</insert>

</mapper>
 

